<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="#" target="_top" [routerLink]="['/home']">ITLookingGlass</a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse"
                data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <div ngbDropdown class="d-inline-block dropdown">
                        <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>Products &amp; Services</a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                            <a class="dropdown-item">Community Strategy</a>
                            <a class="dropdown-item">B2B Commerce Strategy</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <div ngbDropdown class="d-inline-block dropdown">
                        <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>Solutions</a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                            <a class="dropdown-item">Community Kick Start</a>
                            <a class="dropdown-item">Custom Template Solutions</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <div ngbDropdown class="d-inline-block dropdown">
                        <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>Industry Focus</a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                            <a class="dropdown-item">Manufacturing</a>
                            <a class="dropdown-item">Hi-Tech</a>
                            <a class="dropdown-item">Financial Services</a>
                            <a class="dropdown-item">Customer Package Goods</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a href="#" target="_blank" class="nav-link">Resources</a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <div ngbDropdown class="d-inline-block dropdown">
                        <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>Company</a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                            <a class="dropdown-item">Events</a>
                            <a class="dropdown-item">About Us</a>
                            <a class="dropdown-item">News &amp; Press Releases</a>
                            <a class="dropdown-item">Partners</a>
                            <a class="dropdown-item">Blog</a>
                            <a class="dropdown-item">Careers</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item" *ngIf="isHome()">
                    <a href="#" target="_blank" class="nav-link">Contact Us</a>
                </li>
                <li class="nav-item" *ngIf="!isHome()">
                    <a [routerLink]="['/home']" *ngIf="!isDocumentation()" class="nav-link"><i
                            class="nc-icon nc-layout-11"></i>Components</a>
                    <a [routerLink]="['/home']" *ngIf="isDocumentation()" class="nav-link">Back to Kit</a>
                </li>
                <li class="nav-item" *ngIf="isDocumentation()">
                    <a href="https://github.com/creativetimofficial/paper-kit-2-angular/issues?ref=pk2-free-local"
                        target="_blank" class="nav-link">Have an issue</a>
                </li>
            </ul>
        </div>
    </div>
</nav>